<footer class="site-footer h-card">
<div class="wrapper">
  <div class="footer-col-wrapper">
    <div class="footer-col">
      <ul class="contact-list">
        {%- if site.author -%}
        <a class="black-link" href="{{ '/' | relative_url }}">home</a>
        | <a class="black-link" href="{{ 'about' | relative_url }}">about</a>
        | <a class="black-link" href="{{ 'feed.xml' | relative_url }}">feed</a>
        {%- endif -%}
      </ul>
      <span class="footer-right">&copy; {{ 'now' | date: "%Y" }} {{ site.author }}</span>
    </div>
  </div>
</div>
</footer>
