<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{%- seo title=true -%}
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/agate.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}{{ site.favicon_path }}{{ site.favicon }}" />
<link rel="manifest" href="{{ site.baseurl }}/manifest.json">
{%- if site.rss_feed %}
  {%- feed_meta -%}
{% endif %}
</head>
