---
layout: default
---
{%- assign author = site.author -%}

<div class="about-page">
  <head>
    <title>{{ author.name }}</title>
  </head>

  <div class="post-back">
    <a class="black-link" href="{{ '/' | relative_url }}"> ← {{ site.back_to }}</a>
  </div>

  <div class="about-header">

    {%- if author.image -%}
      <img class="about-avatar" src="{{ site.baseurl }}{{ site.images_path }}{{ author.image }}" />
    {%- endif -%}

    <div class="about-info">
    {%- if author.name -%}
      <div class="about-your-name">
        {{ author.name | escape }}
      </div>
    {%- endif -%}

    {%- if author.about -%}
      <p class="about-description">
        {{ author.about | escape }}
      </p>
    {%- endif -%}

    {%- if author.email -%}
      <p  class="about-description"><a class="u-email black-link" href="mailto:{{ author.email }}">{{ author.email }}</a></p>
    {%- endif -%}

    {%- include social.html -%}
    </div>
  </div>
  <div class="about-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
</div>
